<!-- extends layout

block content
  h1= title
  p Welcome to #{title} -->

  <!DOCTYPE html>
  <html lang="en">
  <head>
      <% include head %>
  </head>
  <body>
    <h1>Title</h1>
    <p><%= title %></p>
    
  </body>
  </html>
